{{#each checklists as |checklist|}}
<div class="col-md-6">
  <div class="card">
  <h3 class="card-header">{{checklist.title}}</h3>
    <div class="card-body">
      <section data-id="{{checklist.id}}">
        <p class="card-text"><strong>Start date:</strong> {{checklist.start_date}}
          <hr>
          <strong>End date:</strong> {{checklist.end_date}}
          <hr>
          <strong>Pet Name:</strong> {{checklist.pet_name}}
          <hr>
          <strong>Instructions:</strong>
            <p style="white-space: pre-wrap;">{{checklist.instructions}}</p>
          <hr>
          </p>
        <div class="delete-edit-buttons">
          <button type="button" class="btn btn-outline-danger" id="delete-button">Delete</button>
          <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target=".update-checklist-modal" id="edit-button">Edit</button>
        </div>
      </section>
    </div>
  </div>
</div>
{{/each}}
