{{#each checklists as |checklist|}}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Title: {{checklist.title}}</h4>
      <section data-id="{{checklist.id}}">
        <p class="card-text">Start date: {{checklist.start_date}}
          <br>
          End date: {{checklist.end_date}}
          <br>
          Pet Name: {{checklist.pet_name}}
          <br>
          Instructions: {{checklist.instructions}}</p>
        <button type="button" class="btn btn-primary" id="delete-button">Delete</button>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target=".update-checklist-modal" id="edit-button">Edit</button>
      </section>
    </div>
  </div>
{{/each}}
